[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none
